@font-face {
  font-family: "Montserrat";
  src: url("./../../assets/fonts/Montserrat/Montserrat-MEdium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces";
  src: url("./../../assets/fonts/Fraunces/Fraunces-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Leexend Deca";
  width: 100%;
  min-height: 100vh;
  color: hsla(0deg, 0%, 100%, 0.75);
}

img {
  width: 15px;
  height: 15px;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  line-height: 1;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.l-main-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-button {
  width: 100%;
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  font-family: "Montserrat";
  font-size: 14px;
  background-color: hsl(158deg, 36%, 37%);
  font-weight: 400;
  color: hsl(0deg, 0%, 100%);
}
@media (hover: hover) {
  .c-button:hover {
    background-color: #346f59;
  }
}

.c-developer {
  margin-block: 0.5rem;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 30px;
}
.c-developer__link {
  color: steelblue;
}
@media screen and (min-width: 36em) and (min-height: 36.25em) {
  .c-developer {
    position: fixed;
    bottom: 0.325rem;
    width: 100%;
  }
}
@media (hover: hover) {
  .c-developer a:hover {
    color: peru;
  }
}
.c-developer__text {
  color: black;
}

.c-sr-only {
  position: absolute;
  width: 0.063rem;
  height: 0.063rem;
  padding: 0;
  margin: -0.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.c-card-product {
  background: hsl(0deg, 0%, 100%);
  box-shadow: 0 0.063rem 0.188rem rgba(28, 35, 43, 0.12), 0 0.063rem 0.125rem rgba(28, 35, 43, 0.24);
  color: hsl(212deg, 21%, 14%);
  margin: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 37.5rem;
  transition: all 0.3s ease-in-out;
}
.c-card-product__info {
  padding: 2rem;
}
.c-card-product__picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.c-card-product__title {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 0.95;
  font-family: "Fraunces";
  margin-block: 1.2rem;
}
.c-card-product__subtitle {
  font-size: 0.8rem;
  font-weight: 100;
  color: hsl(228deg, 12%, 48%);
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 0.35em;
}
.c-card-product__description {
  font-size: 0.9rem;
  font-weight: normal;
  color: hsl(228deg, 12%, 48%);
  font-family: "Montserrat";
  line-height: 1.7;
}
.c-card-product__price {
  font-size: 2rem;
  font-weight: 700;
  margin-block: 1.4rem;
  font-family: "Fraunces";
  display: flex;
  justify-content: flex-start;
  gap: 1.7rem;
  color: hsl(158deg, 36%, 37%);
}
.c-card-product__old-price {
  font-size: 0.9rem;
  font-weight: normal;
  color: hsl(228deg, 12%, 48%);
  font-family: "Montserrat";
  margin-top: 10px;
}
@media (hover: hover) {
  .c-card-product:hover {
    box-shadow: 0 0.875rem 1.75rem rgba(28, 35, 43, 0.25), 0 0.625rem 0.625rem rgba(28, 35, 43, 0.22);
  }
}
@media screen and (min-width: 41.25em) {
  .c-card-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

body {
  background: hsl(30deg, 38%, 92%);
  font-family: "'Fraunces', sans-serif;";
}

:is(a, button, input, textarea, select, details, summary):focus-visible {
  outline: hsl(212deg, 21%, 14%) dotted 0.18rem;
  outline-offset: 0.18rem;
}

/*
Variables globales (que no son utilizadas)
@import
'./sass/06_global/_g--margin.scss',
'./sass/06_global/_g--padding.scss',
'./sass/06_global/_g--texto.scss';
*/

/*# sourceMappingURL=styles.css.map */
