@font-face {
  font-family: 'Montserrat';
  src: url('./../../assets/fonts/Montserrat/Montserrat-MEdium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces';
  src: url('./../../assets/fonts/Fraunces/Fraunces-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

